<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ezableton/1.0"
            class="net.sf.smbt.ezableton.EzabletonPackage"
            genModel="model/ezableton.genmodel"/>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdInterpreter">
      <cmdInterpreter
            ID="net.sf.smbt.osc.ableton.cmdInterpreter"
            interpreter="net.sf.smbt.osc.ableton.cmd.AbletonLiveCmdInterpreter">
      </cmdInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.frameInterpreter">
      <frameInterpreter
            ID="net.sf.smbt.osc.ableton.frameInterpreter"
            interpreter="net.sf.smbt.osc.ableton.cmd.AbletonLiveFrameInterpreter">
      </frameInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdHandler">
      <cmdHandler
            ID="net.sf.smbt.osc.ableton.eventHandler"
            handler="net.sf.smbt.osc.ableton.cmd.AbletonLiveEventHandler">
      </cmdHandler>
   </extension>
   <extension
         point="net.sf.smbt.comm.topology.protocol">
      <engine
 			alias="oscableton"
            ID="net.sf.smbt.osc.ableton"
            cmdInterpreterID="net.sf.smbt.osc.ableton.cmdInterpreter"
            eventHandler="net.sf.smbt.osc.ableton.eventHandler"
            frameInterpreter="net.sf.smbt.osc.ableton.frameInterpreter"
            instance="0"
            transports="UDP"
            desc="Protocol OSC for Ableton Live 8.2+ (Need LiveOSC plugin on Live side)"      
      >
      </engine>
   </extension>

</plugin>
