<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eztuio2/1.0"
            class="net.sf.smbt.osc.eztuio2.Eztuio2Package"
            genModel="model/eztuioX2.genmodel"/>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdSetProvider">
      <CmdSet
            ID="net.sf.smbt.osc.tuio11.CmdSet"
            provider="provider.Tuio11CmdSetProvider">
      </CmdSet>
      <CmdSet
            ID="net.sf.smbt.osc.tuio20.CmdSet"
            provider="provider.Tuio20CmdSetProvider">
      </CmdSet>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdHandler">
      <cmdHandler
            ID="net.sf.smbt.osc.tuio11.eventHandler"
            handler="net.sf.smbt.osc.tuio11.cmd.Tuio11EventHandler">
      </cmdHandler>
   </extension>
   <extension
         point="net.sf.xqz.engine.frameInterpreter">
      <frameInterpreter
            ID="net.sf.smbt.osc.tuio11.frameInterpreter"
            interpreter="net.sf.smbt.osc.tuio11.cmd.Tuio11FrameHandler">
      </frameInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdInterpreter">
      <cmdInterpreter
            ID="net.sf.smbt.osc.tuio.cmdInterpreter"
            interpreter="net.sf.smbt.osc.tuio11.cmd.Tuio11CmdInterpreter">
      </cmdInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdHandler">
      <cmdHandler
            ID="net.sf.smbt.osc.tuio2.eventHandler"
            handler="net.sf.smbt.osc.tuio20.cmd.Tuio20EventHandler">
      </cmdHandler>
   </extension>
   <extension
         point="net.sf.xqz.engine.frameInterpreter">
      <frameInterpreter
            ID="net.sf.smbt.osc.tuio2.frameInterpreter"
            interpreter="net.sf.smbt.osc.tuio20.cmd.Tuio20FrameHandler">
      </frameInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdInterpreter">
      <cmdInterpreter
            ID="net.sf.smbt.osc.tuio2.cmdInterpreter"
            interpreter="net.sf.smbt.osc.tuio20.cmd.Tuio20CmdInterpreter">
      </cmdInterpreter>
   </extension>
   <extension
         point="net.sf.smbt.comm.topology.protocol">
      <engine
 			alias="tuio10"
            ID="net.sf.smbt.osc.tuio10"
            cmdInterpreterID="net.sf.smbt.osc.tuio.cmdInterpreter"
            eventHandler="net.sf.smbt.osc.tuio11.eventHandler"
            frameInterpreter="net.sf.smbt.osc.tuio11.frameInterpreter"
            instance="0"
            transports="USB, UDP, TCP"
            desc="Protocol OSC TUIO 1.0"      
      >
      </engine>
   </extension>
   <extension
         point="net.sf.smbt.comm.topology.protocol">
      <engine
 			alias="tuio20"
            ID="net.sf.smbt.osc.tuio20"
            cmdInterpreterID="net.sf.smbt.osc.tuio2.cmdInterpreter"
            eventHandler="net.sf.smbt.osc.tuio2.eventHandler"
            frameInterpreter="net.sf.smbt.osc.tuio2.frameInterpreter"
            instance="0"
            transports="USB, UDP, TCP"
            desc="Protocol OSC TUIO 2.0"      
      >
      </engine>
   </extension>

</plugin>
