<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="net.sf.smbt.ezdxxp.EzdxxpPackage"
            genModel="model/ezdxxp.genmodel"
            uri="http://ezdxxp/1.0">
      </package>
   </extension>

<!--

   <extension
         point="net.sf.xqz.engine.cmdInterpreter">
      <cmdInterpreter
            ID="net.sf.smbt.dxxp.cmdInterpreter"
            interpreter="net.sf.smbt.dxxp.cmd.DxxpCmdInterpreter">
      </cmdInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.frameInterpreter">
      <frameInterpreter
            ID="net.sf.smbt.dxxp.frameInterpreter"
            interpreter="net.sf.smbt.dxxp.cmd.DxxpFrameInterpreter">
      </frameInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdHandler">
      <cmdHandler
            ID="net.sf.smbt.dxxp.eventHandler"
            handler="net.sf.smbt.dxxp.cmd.DxxpEventHandler">
      </cmdHandler>
   </extension>
   <extension
         point="net.sf.smbt.comm.topology.protocol">
      <engine
      		alias="daap"
            ID="net.sf.smbt.daap"
            cmdInterpreterID="net.sf.smbt.dxxp.cmdInterpreter"
            eventHandler="net.sf.smbt.dxxp.eventHandler"
            frameInterpreter="net.sf.smbt.dxxp.frameInterpreter"
            instance="0"
            transports="HTTP"
            desc="Protocol DAAP"      
      >
      </engine>
      <engine
       		alias="dacp"
            ID="net.sf.smbt.dacp"
            cmdInterpreterID="net.sf.smbt.dxxp.cmdInterpreter"
            eventHandler="net.sf.smbt.dxxp.eventHandler"
            frameInterpreter="net.sf.smbt.dxxp.frameInterpreter"
            instance="0"
            transports="HTTP"
            desc="Protocol DAAP"      
      >
      </engine>
      <engine
      		alias="dmap"
            ID="net.sf.smbt.dmap"
            cmdInterpreterID="net.sf.smbt.dxxp.cmdInterpreter"
            eventHandler="net.sf.smbt.dxxp.eventHandler"
            frameInterpreter="net.sf.smbt.dxxp.frameInterpreter"
            instance="0"
            transports="HTTP"
            desc="Protocol DAAP"      
      >
      </engine>
      <engine
      		alias="dpap"
            ID="net.sf.smbt.dpap"
            cmdInterpreterID="net.sf.smbt.dxxp.cmdInterpreter"
            eventHandler="net.sf.smbt.dxxp.eventHandler"
            frameInterpreter="net.sf.smbt.dxxp.frameInterpreter"
            instance="0"
            transports="HTTP"
            desc="Protocol DAAP"      
      >
      </engine>
   </extension>
-->
</plugin>
