/*=========================================================================================================
//---------------------------------------------------------------------------------------------------------
//	MAIN NAVIGATION - HORIZONTAL STYLE WITH GRAPHICS
//---------------------------------------------------------------------------------------------------------
//=======================================================================================================*/
/*---------------------------------------------------------------------------------------------------------
//	Container blocks for nav sets
//-------------------------------------------------------------------------------------------------------*/
#nav-main
{
	/*
	float:					left;
	margin-top:				50px;
	margin-left:			110px;
	white-space:			nowrap;
	*/
	position:				absolute;
	top:					46px;
	left:					250px;
}

#nav-main ul
{
	display:				block;
	float:					left;

	margin:					0px;
	padding:				0px;

	list-style-type:		none;
}

#nav-main li
{
	display:				inline;
	float:					left;
}

/*---------------------------------------------------------------------------------------------------------
//	Main nav item styles (for text-only menu headers - delete these if graphics are used for main nav)
//-------------------------------------------------------------------------------------------------------*/
#nav-main a
{
	display:				block;
	float:					left;

	white-space:			nowrap;
	
	line-height:			26px;
}
#nav-main a:hover,
#nav-main a.active,
#nav-main a.active:hover,
#nav-main a.highlight
{
}

