/*=======================================================================================================
//	SECTION NAVIGATION STYLES
//-------------------------------------------------------------------------------------------------------
//		Standard open list style
//=======================================================================================================*/
/*-------------------------------------------------------------------------------------------------------
//	Section navigation conainer
//-------------------------------------------------------------------------------------------------------*/
td#left
{
	padding:				20px;
}

/*-------------------------------------------------------------------------------------------------------
//	Section navigation
//-------------------------------------------------------------------------------------------------------*/
ul#nav-section,
ul#nav-section ul.sub
{
	margin:					0px;
	padding:				0px;
	list-style-type:		none;
}

ul#nav-section li
{
	display:				inline;
}

/*-------------------------------------------------------------------------------------------------------
//	Top (main section) link
//-------------------------------------------------------------------------------------------------------*/
#nav-section-top
{
	display:				block;
	padding:				0.8em 0em;
	margin-bottom:			0.4em;
	border-bottom:			1px solid rgb(204,204,204);
	font-family:			verdana,arial,sans serif;
	font-weight:			bold;
	font-size:				0.68em;
	text-decoration:		none;
	color:					rgb(153,51,51);
}

/*-------------------------------------------------------------------------------------------------------
//	Link styles
//-------------------------------------------------------------------------------------------------------*/
ul#nav-section a
{
	display:				block;
	padding:				0.4em 0em;
	line-height:			1.3em;
	font-family:			verdana,arial,sans serif;
	font-size:				0.7em;
	text-decoration:		none;
	color:					gray;
}

/*-------------------------------------------------------------------------------------------------------
//	Submenu link indent
//-------------------------------------------------------------------------------------------------------*/
ul#nav-section ul.sub a
{
	margin-left:			1.0em!important;
}

/*-------------------------------------------------------------------------------------------------------
//	Link highlights
//-------------------------------------------------------------------------------------------------------*/
ul#nav-section a.active,
ul#nav-section a:hover
{
	color:					rgb(59,121,166);
}

