<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.sf.smbt.ui"
            class="net.sf.smbt.ui.mppt.view.MPPTView"
            icon="icons/ubiquisense.png"
            id="net.sf.smbt.ui.mppt.view"
            name="MPPT"
            restorable="true">
      </view>
   </extension>





   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.sf.smbt.ui.mppt.editors.MpptEditor"
            name="Mppt Configuration"
            icon="icons/ubiquisense.png"
            extensions="mppt"
            class="net.sf.smbt.ui.mppt.editors.MpptEditor"
            contributorClass="net.sf.smbt.ui.mppt.editors.MpptActionBarContributor">
      </editor>
   </extension>






   
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-cosm-contrib">
      <propertyContributor
            contributorId="net.sf.smbt.ui.pachube"
            labelProvider="net.sf.smbt.ui.pachube.properties.EnvTypeSheetLabelProvider">
         <propertyCategory category="envType"/>
      </propertyContributor>
   </extension>

  <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs-cosm">
      <propertyTabs contributorId="net.sf.smbt.ui.pachube">
		  <propertyTab
          category="envType"
          id="property.tab.envType"
          image="icons/cosm.png"
          label="Environment"/>
     </propertyTabs>
  </extension>
  
  <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs-streams">
      <propertyTabs contributorId="net.sf.smbt.ui.pachube">
		  <propertyTab
          category="envType"
          id="property.tab.streams"
          image="icons/DataType.gif"
          label="Stream"/>
     </propertyTabs>
  </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections-cosm">
      <propertySections contributorId="net.sf.smbt.ui.pachube">

       <!-- EnvronmentType PROPERTIES -->

       <propertySection
            id="property.section.ubiquisense.cosm.properties.envType" 
            tab="property.tab.envType"
            class="net.sf.smbt.ui.pachube.properties.CosmEnvTypePropertySection"
        >
            <input type="org.eeml.xsd._0._5.EnvironmentType"/>
       </propertySection>
       
     <!-- DataType PROPERTIES -->

       <propertySection
            id="property.section.ubiquisense.cosm.properties.dataType" 
            tab="property.tab.streams"
            class="net.sf.smbt.ui.pachube.properties.CosmDataTypePropertySection"
        >
            <input type="org.eeml.xsd._0._5.DataType"/>
       </propertySection>

      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="net.sf.smbt.ui"
            class="net.sf.smbt.ui.mppt.wizards.MpptNewConfigWizard"
            icon="icons/ubiquisense.png"
            id="net.sf.smbt.ui.mppt.wizards.MpptNewConfigWizard"
            name="Mppt Config">
      </wizard>
   </extension>




</plugin>
