<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
      <!--
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.sf.smbt.gis.ui.MapView"
            icon="icons/grid.gif"
            id="rcp-gt-swt.view"
            name="Maps"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="net.sf.smbt.gis.ui.GpsView"
            icon="icons/gps.png"
            id="rcp-gps-io.view"
            name="Gps"
            restorable="true">
      </view>
   </extension>
      -->
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="rcp-gt-swt.openshp"
                  icon="icons/open.gif"
                  label="Open Shapefile"
                  style="push"
                  tooltip="Opens a shapefile from the filesystem">
            </command>
            <command
                  commandId="rcp-gt-swt.opentiff"
                  icon="icons/open.gif"
                  label="Open Geotiff File"
                  style="push"
                  tooltip="Opens an geotiff file from the filesystem">
            </command>
            <command
                  commandId="rcp-gt-swt.openworldimage"
                  icon="icons/open.gif"
                  label="Open Worldimage File"
                  style="push"
                  tooltip="Opens an world image file from the filesystem">
            </command>
            <command
                  commandId="rcp-gt-swt.getwms"
                  icon="icons/open.gif"
                  label="Request WMS"
                  style="push"
                  tooltip="Request an img from a WMS server">
            </command>
            <command
                  commandId="rcp-gt-swt.gpx2shp"
                  icon="icons/open.gif"
                  label="GPX To SHP"
                  style="push"
                  tooltip="Import GPX file as SHP">
            </command>
         </menu>
      </menuContribution>
   </extension>
   -->
         <!--
       <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
           targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="rcp-gt-swt.view">
         </view>
        <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="rcp-gps-io.view">
         </view>
      </perspectiveExtension>
   </extension>
         -->
   <!--
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="rcp-gt-swt.viewContribution"
            targetID="rcp-gt-swt.view">
         <action
               class="net.sf.smbt.gis.ui.actions.DrawShapesAction"
               icon="icons/feature.gif"
               id="rcp-gt-swt.drawshapes"
               label="Draw Test Shapes"
               style="push"
               toolbarPath="gtswt2">
         </action>
         <action
               class="net.sf.smbt.gis.ui.actions.ZoomoutAction"
               icon="icons/zoom_out_co.gif"
               id="rcp-gt-swt.zoomout"
               label="Zoomout Action"
               style="push"
               toolbarPath="gtswt">
         </action>
         <action
               class="net.sf.smbt.gis.ui.actions.ZoominAction"
               icon="icons/zoom_in_co.gif"
               id="rcp-gt-swt.zoomin"
               label="Zoomin Action"
               style="push"
               toolbarPath="gtswt">
         </action>
         <action
               class="net.sf.smbt.gis.ui.actions.ResetAction"
               icon="icons/zoom_extent_co.gif"
               id="rcp-gt-swt.reset"
               label="Reset Action"
               style="push"
               toolbarPath="gtswt">
         </action>
         <action
               class="net.sf.smbt.gis.ui.actions.PanAction"
               icon="icons/pan_mode.gif"
               id="rcp-gt-swt.pan"
               label="Pan Action"
               style="push"
               toolbarPath="gtswt">
         </action>
         <action
               class="net.sf.smbt.gis.ui.actions.InfoAction"
               icon="icons/info_mode.gif"
               id="rcp-gt-swt.info"
               label="Info Action"
               style="push"
               toolbarPath="gtswt">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.sf.smbt.gis.ui.actions.OpenShapefileCommand"
            id="rcp-gt-swt.openshp"
            name="Open Shapefile">
      </command>
      <command
            defaultHandler="net.sf.smbt.gis.ui.actions.OpenTiffCommand"
            id="rcp-gt-swt.opentiff"
            name="Open Geotiff File">
      </command>
      <command
            defaultHandler="net.sf.smbt.gis.ui.actions.OpenWorldimageCommand"
            id="rcp-gt-swt.openworldimage"
            name="Open Image File">
      </command>
      <command
            defaultHandler="net.sf.smbt.gis.ui.actions.OpenWMSGeoTiffCommand"
            id="rcp-gt-swt.getwms"
            name="Request WMS">
      </command>
     <command
            defaultHandler="net.sf.smbt.gis.ui.actions.Gpx2ShpImportCommand"
            id="rcp-gt-swt.gpx2shp"
            name="Import GPX to SHP">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.smbt.gis.ui.nikeplusPreferences.NikePlusPreferencePage"
            id="net.sf.smbt.gis.ui.nikeplusPreferences.NikePlusPreferencePage"
            name="NikePlus Preferences">
      </page>
      <page
            class="net.sf.smbt.gis.ui.everyTrailsPreferences.EverytrailPreferencePage"
            id="net.sf.smbt.gis.ui.everyTrailsPreferences.EverytrailPreferencePage"
            name="Everytrail Preferences">
      </page>
      <page
            class="net.sf.smbt.gis.ui.dailymilePreferences.DailymilePreferencePage"
            id="net.sf.smbt.gis.ui.dailymilePreferences.DailymilePreferencePage"
            name="Dailymile Preferences">
      </page>
      <page
            class="net.sf.smbt.gis.ui.runtasticPreferences.RuntasticPreferencePage"
            id="net.sf.smbt.gis.ui.runtasticPreferences.RuntasticPreferencePage"
            name="Runtastic Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.smbt.gis.ui.nikeplusPreferences.NikePlusPreferenceInitializer">
      </initializer>
      <initializer
            class="net.sf.smbt.gis.ui.everyTrailsPreferences.EverytrailPreferenceInitializer">
      </initializer>
      <initializer
            class="net.sf.smbt.gis.ui.dailymilePreferences.DailymilePreferenceInitializer">
      </initializer>
      <initializer
            class="net.sf.smbt.gis.ui.runtasticPreferences.RuntasticPreferenceInitializer">
      </initializer>
   </extension>
   -->
</plugin>
