<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sf.net/smbt/ez/script/EzDsl" 
       class = "net.sf.smbt.ez.script.ezDsl.EzDslPackage"
       genModel = "net/sf/smbt/ez/script/EzDsl.genmodel" /> 
	
  </extension>




</plugin>
