body {
	background: black;
	padding: 20px;
	margin: 0px;
}

a {
	text-decoration:none;
}

/*---comportement des liens de style bouton---*/

a.bouton {
	display:block;
	background:darkGreen;
	color:white;
	text-decoration:none;
	border: black solid 1px;
	text-align:center;
	padding:1px;
	margin:10px 0px 10px 0px;
}
a.bouton:hover {
	background:Green;
	color:black;
	text-decoration:none;
}

a.bouton2 {
	display:block;
	background:darkGreen;
	color:white;
	text-decoration:none;
	border: black solid 1px;
	text-align:center;
	padding:1px;
	margin:10px 0px 10px 0px;
}
a.bouton2:hover {
	background:Green;
	color:black;
	text-decoration:none;
}

/*---comportement des logos de la colonne de gauche---*/

a.logo-rss-valid {
	display: block;
	background:URL(../images/rss-valid.png);
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 85px;
}

a.logo-rss-valid:hover {
	display: block;
	background:URL(../images/rss-valid-hover.png);
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 85px;
}

a.logo-ical {
	display: block;
	background:URL(../images/ical-agenda.gif);
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 85px;
}

a.logo-ical:hover {
	display: block;
	background:URL(../images/ical-agenda-hover.GIF);
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 85px;
}

a.logo-sarka-spip {
	display: block;
	background:URL(../images/sarka-spip.png);
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 85px;
}

a.logo-sarka-spip:hover {
	display: block;
	background:URL(../images/sarka-spip-hover.png);
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 85px;
}

a.logo-spip-powered {
	display: block;
	background:URL(../images/spip-powered.png);
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 85px;
}

a.logo-spip-powered:hover {
	display: block;
	background:URL(../images/spip-powered-hover.png);
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 85px;
}

/*---comportement des elements de formulaires---*/

.formulaire_spip {
	background: #FFFFFF;
}

.formulaire_spip fieldset {
	border: 1px solid #6262A4;
	margin: 10px 0px 10px 0px;
	padding: 10px;
}

.formulaire_spip legend {
	color: #6262A4;
	background: #EEEEEE;
	font-weight: bold;
	border: 1px solid #6262A4;
	padding: 2px 5px 2px 5px;
	margin: 0px 0px 5px 0px;
}

.formulaire_spip label {
	font-weight: bold;
}

.saisie-texte, .forml {
	display:block;
	color: #6262A4;
	background: #F0F0FA;
	border: 1px solid darkGreen;
	margin:5px 0px 5px 0px;
	padding:1px;
}

.spip_bouton input {
	display: block;
	float: right;
	background: darkGreen;
	color: white;
	border: 1px solid darkGreen;
	margin:5px 0px 5px 0px;
	behavior: url(squelettes/scripts/spip-bouton-hover.htc);
}

.spip_bouton input:hover {
	background: green;
	color: white;
	border: 1px solid #6262A4;
	cursor: pointer;
}

.spip_bouton_gauche input {
	display: block;
	background: darkGreen;
	color: white;
	border: 1px solid black;
	margin:5px 0px 5px 0px;
	behavior: url(squelettes/scripts/spip-bouton-hover.htc);
}

.spip_bouton_gauche input:hover {
	background: green;
	color: black;
	border: 1px solid black;
	cursor: pointer;
}

fieldset {
	margin: 0px;
	padding: 0px;
}

blockquote {
	display: block;
	border : 1px solid #990000;
	border-left : 8px solid #990000;
	background : transparent;
	padding : 0px 5px 0px 5px;
	font-style :italic;
	overflow: auto;
}

/*---style des info-bulles perso adaptees au contexte (image, plan...)---*/

a.info span {
	display: none;
}

a.info:hover {
	background: none; /* correction d'un bug IE */
}

.images a.info:hover span {
	/* style des infobulles associees aux images */
	display: inline;
	position: absolute;
	z-index: 500;
	margin:0em 0 0 1em;
	background: #EEEEEE;
	text-align: left;
	color: #808080;
	padding: 0px 3px 0px 3px;
	border:1px solid #808080;
	width: 200px;
}

.plan a.info:hover span {
	/* style des infobulles associees aux articles syndiques (page site.html) */
	display: inline;
	position: absolute;
	z-index: 500;
	margin:0em 0 0 1em;
	background: #EEEEEE;
	text-align: left;
	color: #808080;
	padding: 0px 3px 0px 3px;
	border:1px solid #808080;
}

.recherche a.info:hover span {
	/* style des infobulles associees aux articles syndiques (page site.html) */
	display: inline;
	position: absolute;
	z-index: 500;
	margin:0em 0 0 1em;
	background: #EEEEEE;
	text-align: left;
	color: #808080;
	padding: 0px 3px 0px 3px;
	border:1px solid #808080;
}

/*---affichage de code (pour afficher en mode texte du code html)---*/

.spip_code {
	display: block;
	border : 1px solid #669999;
	border-left : 8px solid #669999;
	background : #E0F0F0;
	padding : 0px 5px 0px 5px;
	margin: 1em 1em 1em 0em; /*Sarka-SPIP 1.8.2*/
	font-size: 90%;
	overflow: auto;
	max-height: 25em;
}

/* ====================== Blocs principaux, decomposition de la page en 3 colonnes et 1 bandeau ====================== */

a.bandeau {
	/*bandeau contenant le titre du site*/
	display: block;
	//background: #6262A4;
	//background: #E0E0E0;
	background: black ;
	margin: 0px;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	padding: 0px;
	font-size: 40px;
	font-weight: bold;
	//color: #FFFFFF;
	color: #6262A4;
	//height: 50px;
	//padding: 10px 20px 10px 10px;
	//text-align: right;
	text-align: center;
	//border: 1px solid #6262A4;
	border: none;
}

a.bandeau:hover {
	color: #424284;
	text-decoration: none;
}

.bande-chemin {
	/*bande accrochee au bandeau de titre, contenant le chemin hierarchique de la page en cours*/
	border-top: 2px solid black;
	background: darkGreen;
	padding: 4px 10px 4px 10px;
	margin: 0px 0px 30px 210px;
	text-align: left;
	font-size: 11px;
	color: #EEEEEE;
	font-weight: bold;
	font-family: Verdana,Helvetica,Arial,sans-serif;
}

.bande-chemin a {
	color: #EEEEEE;
	font-weight: bold;

}

.bande-chemin a:hover {
	color: #AAAAAA;
}

.gauche {
	/*colonne de gauche*/
	border: 0px;
	width: 180px;
	position: absolute;
	left: 20px;
	font-family: Arial,Verdana,Helvetica,sans-serif;
}

.centre {
	/*colonne centrale*/
	border: 0px;
	margin-left: 180px; /*Sarka-SPIP 1.8.2*/
	margin-right: 170px;
	font-family: Arial,Verdana,Helvetica,sans-serif;
}

.droite {
	/*colonne de droite*/
	border: 0px;
	width: 170px;
	position: absolute;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 10px;
	right: 20px;
}

.footer {
	border-top:1px solid green;
	clear:both;
	color:green;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:12px;
	padding:5px;
	text-align:center;
}

/* ================================ Formatage des elements du bandeau =============================== */

a.bandeau .spip_logos {
	float: left;
	border: 0px;
}

a.bandeau .nom-site {
	margin: 0px;
	padding: 0px;
}


/* ================================ Formatage des elements du pied de page =============================== */

.footer a {
	//color: #6262A4;
	color: darkGreen;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

/* ================================ Formatage des elements de la colonne de gauche =============================== */

/* bloc contenant la date de dernière mise à jour */

.maj {
	background: #FFFFFF;
	font-size: 11px;
	border: 1px solid #808080;
	width: 100%;
	text-align: center;
	padding: 3px 0px 3px 0px;
	color: #808080;
	margin: 20px 0px 20px 0px;
}

.maj hr {
	border: 0px;
	height: 1px;
	color: #808080;
	background-color: #808080;
	margin-left: 0px;
	margin-right: 0px;
}

.stats {
	background: #FFFFFF;
	font-size: 11px;
	border: 1px solid #808080;
	width: 100%;
	padding: 3px 0px 3px 0px;
	color: #808080;
	margin: 20px 0px 20px 0px;
}

.stats hr {
	border: 0px;
	height: 1px;
	color: #808080;
	background-color: #808080;
	margin-left: 0px;
	margin-right: 0px;
}

.stats .titre {
	font-weight: bold;
	color: #808080;
	text-align: center;
	margin: 0px auto 5px auto;
}

.stats a {
	display: block;
	color: #6262A4;
	background-image:url(../images/puce-n0.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 0px 0px 5px 10px;
	margin: 0px 5px 0px 5px;
	text-align: left;
	text-decoration: none;
}

.stats a:hover {
	background-image:url(../images/puce-n0.gif);
	background-position: left top;
	background-repeat: no-repeat;
	color: #6262A4;
	text-decoration: underline;
}

.stats a.info:hover span {
	/* style des infobulles associees aux images */
	display: inline;
	position: absolute;
	z-index: 500;
	margin:0em 0 0 1em;
	background: #6262A4;
	text-align: left;
	text-decoration: none;
	color: #FFFFFF;
	padding: 0px 3px 0px 3px;
	border:1px solid #6262A4;
	width: 30px;
}



/* bloc de navigation 2 --> contact + admin + formulaire + s'inscrire */

.nav2 {
	/*bloc contenant les liens de navigation*/
	border: 1px solid Green;
	background: #003000;
	width: 100%;
	margin: 20px 0px 20px 0px;
}

.nav2 .texte {
	margin:10px;
	font-size: 12px;
}

.nav2 .texte .bouton {
	margin: 17px 0px 17px 22px;
	text-indent: -20px;
	text-align: left;
	text-indent: 5px;
}

/*logos des boutons du bloc de navigation 2 - avec un hack pour ie6 qui ne supporte pas les png*/

.nav2 .texte .logo-plan {
	background-image: URL(../images/_plan.png) !important;
	background-image: URL(../images/_plan.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 17px !important; /*hack pour le 1er bouton du bloc positionne differemment sous ie*/
	bottom: 10px;
	right: 21px;
	margin: 0px -50px 0px -0px;
}


.nav2 .texte .logo-agenda {
	background-image: URL(../images/_agenda.png) !important;
	background-image: URL(../images/_agenda.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 17px;
	right: 21px;
	margin: 0px -50px 0px -0px;
}

.nav2 .texte .logo-galerie {
	background-image: URL(../images/_galerie.png) !important;
	background-image: URL(../images/_galerie.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 17px;
	right: 21px;
	margin: 0px -50px 0px -0px;
}

.nav2 .texte .logo-motscles {
	background-image: URL(../images/_mots-cles.png) !important;
	background-image: URL(../images/_mots-cles.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 17px;
	right: 21px;
	margin: 0px -50px 0px 0px;
}

.nav2 .texte .logo-forum {
	background-image: URL(../images/_forum.png) !important;
	background-image: URL(../images/_forum.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 17px;
	right: 21px;
	margin: 0px -50px -30px -0px; /*marge basse de -30 px pour dimension bloc de navigation sous ie*/
}

.nav2 .texte .logo-contact {
	background-image: URL(../images/__contact.png) !important;
	background-image: URL(../images/__contact.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 18px !important; /*hack pour le 1er bouton du bloc positionne differemment sous ie*/
	bottom: 11px;
	right: 19px;
	margin: 0px -50px 0px 0px;
}

.nav2 .texte .logo-referencement {
	background-image: URL(../images/__proposer-site.png) !important;
	background-image: URL(../images/__proposer-site.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 18px;
	right: 19px;
	margin: 0px -50px 0px 0px;
}

.nav2 .texte .logo-inscription {
	background-image: URL(../images/__inscription.png) !important;
	background-image: URL(../images/__inscription.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 18px;
	right: 19px;
	margin: 0px -50px 0px 0px;
}

.nav2 .texte .logo-login {
	background-image: URL(../images/__public-in.png) !important;
	background-image: URL(../images/__public-in.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 18px;
	right: 19px;
	margin: 0px -50px -30px 0px; /*marge basse de -30 px pour dimension bloc sous ie avec logos*/
}

.nav2 .texte .logo-logout {
	background-image: URL(../images/__public-out.png) !important;
	background-image: URL(../images/__public-out.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 18px;
	right: 19px;
	margin: 0px -50px -30px 0px; /*marge basse de -30 px pour dimension bloc sous ie avec logos*/
}

.nav2 .texte .logo-prive {
	background-image: URL(../images/__prive.png) !important;
	background-image: URL(../images/__prive.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	bottom: 18px;
	right: 19px;
	margin: 0px -50px -30px 0px; /*marge basse de -30 px pour dimension bloc sous ie avec logos*/
}

.logo-banner {
	background-image: URL(../../IMG/page-banner.jpg);
	background-color: black;
	background-repeat: no-repeat;
	background-position: left;
	width: 1000px;
	height: 150px;
}
        
.nav2 .texte .auteur{
	margin: 17px 0px 17px 0px;
	padding-top: 3px;
	padding-bottom: 2px;
	background: #F0F0FA;
	//color: #6262A4;
	color: darkGreen;
	border: 1px solid #6262A4;
	text-align: center;
}
        
.nav2 .texte .auteur a{
	color: #990000;
}
        
.nav2 .texte .auteur a:hover{
	text-decoration: underline;
}

.nav2 .saisie-texte {
	width:90%;
}
        
.nav2 .forml{
	width:90%;
}

/** **/

.nav2 .texte .bouton2 {
	background: #4B6400;
	margin: 17px 0px 17px 22px;
	text-indent: -20px;
	text-align: left;	
	text-indent: 5px;
}
 

/* ================================== Formatage des elements de la colonne centrale ============================== */

/* Style de l'intitule de chaque page */
.intitule {
	background:darkgreen none repeat scroll 0% 0%;
	border-bottom:1px solid lime;
	border-top:1px solid lime;
	color:#FFFFFF;	
	font-size: 100%;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	padding:3px 20px;
}
.intitule_old {
	color: #808080;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 30px 20px 30px; 
}

/* ~~~~~~~~~~~~ sommaire ~~~~~~~~~~~~ */
/* Le bloc sommaire contient l'edito et les annonces */
/* des derniers articles et des secteurs */

.sommaire {
	font-size: 12px;
	margin: 0px; /*Sarka-SPIP 1.8.2*/
	width: 100%; /*Sarka-SPIP 1.8.2*/
}

/* edito */
/* modifié par Julien pour avoir un fond vert d'eau et pas jaune */
.edito {
	background-color:#D0FFD0;
	border-left:20px solid green;
	font-size:13px;
	margin:0px 30px 20px;
}

.edito a {
	color: #990000;
	text-decoration: none;
}

.edito a:hover {
	color: #990000;
	text-decoration: underline;
}

.edito .image .spip_logos {
	display: block;
	float: right;
	margin: 10px;
	border:0px;
}

.edito .surtitre {
	color: #000000;
	font-size: 120%;
	font-weight: bold;
	margin: 5px 10px 5px 10px;
	padding: 0px;
}

.edito .titre {
	color: #000000;
	font-size: 180%;
	font-weight: bold;
	margin: 5px 10px 5px 10px;
	padding: 0px;
}

.edito .soustitre {
	color: #000000;
	font-size: 130%;
	font-weight: bold;
	margin: 5px 10px 5px 10px;
	padding: 0px;
}

.edito .detail {
	font-size: 90%;
	font-weight: bold;
	text-align: right;
	color: #000000;
	padding-right: 10px;
}

.edito .texte {
	color: #000000;
	margin: 10px;
	padding: 0px;
}

.edito .chapo {
	//color: #6262A4;
	color: darkGreen;
	margin: 10px;
	padding: 0px;
	font-weight: bold;
}

.edito .post-scriptum {
	color: #000000;
	margin: 10px;
	padding: 0px;
	font-size: 100%;
	border-top: 2px solid #000000;
}

.edito .post-scriptum .annonce {
	font-weight: bold;
	//color: #6262A4;
	color: darkGreen;
	padding: 0px;
	margin: 10px 0px 10px 0px;
}

.edito .notes {
	color: #000000;
	margin: 10px;
	padding: 0px;
	border-top: 2px solid #000000;
	font-size: 90%;
}

.edito h3 {
	//color: #6262A4;
	color: darkGreen;
	font-weight: bold;
	font-size: 140%;
	margin: 1.5em 0em 0.5em 0em;
}

.edito table {
	font-size: 90%;
	border-color: #FFFFFF;
}

.edito tr.row_first {
	background: #808080;
	color: #FFFFFF;
	text-align: center;
	font-size: 100%;
}

.edito tr.row_odd {
	background: #E0E0E0;
	color: #000000;
}

.edito tr.row_even {
	background: #E0E0E0;
	color: #000000;
}

.edito td {
	border: 1px solid #FFFFFF;
	padding: 1px 5px 1px 5px;
}

/* annonce des rubriques-secteurs */

.sommaire .rubrique {
	border: 2px solid #990000;
	background: #FFFFFF;
	margin: 0px 30px 20px 30px;  /*Sarka-SPIP 1.8.2*/
}

.sommaire .rubrique a.titre {
	display: block;
	font-size: 150%;
	color: #FFFFFF;
	background: #990000;
	border-right: 2px solid #990000;
	border-bottom: 2px solid #990000;
	padding: 1px 5px 1px 5px;
	margin-right: 50%;
	text-align:center;
	font-weight:bold;
}

.sommaire .rubrique a.titre:hover {
	display: block;
	font-size: 150%;
	color: #990000;
	background: #FFFFFF;
	border-right: 2px solid #990000;
	border-bottom: 2px solid #990000;
	padding: 1px 5px 1px 5px;
	margin-right: 50%;
	text-align:center;
	font-weight:bold;
}

.sommaire .rubrique .texte {
	margin: 10px;
}

.sommaire .rubrique .texte a {
	color: #990000;
	text-decoration: none;
}

.sommaire .rubrique .texte a:hover {
	text-decoration: underline;
}

.sommaire .rubrique table {
	font-size: 85%;
	border-color: #FFFFFF;
}

.sommaire .rubrique tr.row_first {
	background: #808080;
	color: #FFFFFF;
	text-align: center;
	font-size: 100%;
}

.sommaire .rubrique tr.row_odd {
	background: #E0E0E0;
	color: #000000;
}

.sommaire .rubrique tr.row_even {
	background: #E0E0E0;
	color: #000000;
}

.sommaire .rubrique td {
	border: 1px solid #FFFFFF;
	padding: 1px 5px 1px 5px;
}

.sommaire .rubrique .image .spip_logos {
	display: block;
	float: right;
	margin: 10px;
	border:0px;
}

/* ~~~~~~~~~~~~ contenu ~~~~~~~~~~~~ */
/* Le bloc contenu contient les rubriques, */
/* les articles, et leurs objets associes */
/* in extenso */

.contenu {
	font-size: 13px;
	margin: 0px; /*Sarka-SPIP 1.8.2*/
	/*width: 100%;*/ /*Sarka-SPIP 1.8.2*/
	background : black ;
}

/* contenu --> rubriques */

.contenu .rubrique {
	border: 2px solid #990000;
	background: white ;
	margin: 0px 30px 40px 30px; /*Sarka-SPIP 1.8.2*/
}

.contenu .rubrique a.titre {
	display: block;
	font-size: 150%;
	color: #FFFFFF;
	background: #990000;
	border-right: 2px solid #990000;
	border-bottom: 2px solid #990000;
	padding: 1px 5px 1px 5px;
	margin-right: 50%;
	text-align:center;
	font-weight:bold;
}

.contenu .rubrique a.titre:hover {
	display: block;
	font-size: 150%;
	color: #990000;
	background: #FFFFFF;
	border-right: 2px solid #990000;
	border-bottom: 2px solid #990000;
	padding: 1px 5px 1px 5px;
	margin-right: 50%;
	text-align:center;
	font-weight:bold;
}

.contenu .rubrique .texte {
	margin: 10px;
}

.contenu .rubrique .texte a {
	color: #990000;
	text-decoration: none;
}

.contenu .rubrique .texte a:hover {
	text-decoration: underline;
}

.contenu .rubrique .image .spip_logos {
	display: block;
	float: right;
	margin: 10px;
	border:0px;
}

.contenu .rubrique .descriptif {
	margin: 10px 150px 5px 10px;
	border-top: 1px solid;
	border: 1px solid;
	font-size: 85%;
	padding: 5px;
	font-family: Arial,Verdana,Helvetica,sans-serif;
}

.contenu .rubrique table {
	font-size: 85%;
	border-color: #FFFFFF;
}

.contenu .rubrique tr.row_first {
	background: #808080;
	color: #FFFFFF;
	text-align: center;
	font-size: 100%;
}

.contenu .rubrique tr.row_odd {
	background: #E0E0E0;
	color: #000000;
}

.contenu .rubrique tr.row_even {
	background: #E0E0E0;
	color: #000000;
}

.contenu .rubrique td {
	border: 1px solid #FFFFFF;
	padding: 1px 5px 1px 5px;
}

/* contenu --> rubriques filles */

.contenu .rubrique .filles {
	margin: 10px;
}

.contenu .rubrique .filles a {
	display: block;
	color: #000000;
	font-weight: bold;
	background-image: url(../images/puce0.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
	margin: 5px 0px 5px 30px;
}

.contenu .rubrique .filles a:hover {
	background-image: url(../images/puce1.jpg);
	background-position: left center;
	background-repeat: no-repeat;
}

/* contenu --> documents joints (aux articles et aux rubriques) */

.contenu .doc {
	padding: 10px; /*Sarka-SPIP 1.8.2*/
	color: #990000;
	background: #FFFFFF;
	margin: 0px; /*Sarka-SPIP 1.8.2*/
}

.contenu .doc .en-tete {
	font-size: 110%;
	font-weight:bold;
	margin: 5px 0px 5px 0px; /*Sarka-SPIP 1.8.2*/
}

.contenu .doc .spip_logos {
	margin: 5px 0px 0px 30px;
	border:0px;
}

.contenu .doc a {
	display:block;
	text-decoration: none;
	color: #990000;
	margin: 0px 0px 5px 0px;
}

.contenu .doc a:hover {
	text-decoration: underline;
}

.contenu .vignette a:hover {
	text-decoration: none;
}

/* contenu --> images jointes (aux articles et aux rubriques) */

.contenu .images {
	margin: 0px; /*Sarka-SPIP 1.8.2*/
	padding: 10px;
	background: #FFFFFF;
}

.contenu .images .en-tete {
	font-size: 110%;
	font-weight: bold;
	margin: 10px 0px 10px 0px;
	color: #990000;
}

.contenu .images .vignette {
	font-size: 80%;
	margin: 10px;
	padding: 10px 0px 10px 0px;
}

.contenu .images ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	color: #000000;
}

/* ~~~~~~~~~~~~ derniers articles ~~~~~~~~~~~~ */
/* La classes "derniers articles" est mal nommee : */
/* elle correspond aux annonces d'articles, dans les */
/* pages sommaire, plan, recherche, auteur, etc. */

/* modifié par julien pour avoir un fond vert d'eau */
.derniers-articles {
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:12px;
	margin:40px 30px 20px;
}

.derniers-articles a {
	color: #990000;
	text-decoration: none;
}

.derniers-articles .image .spip_logos {
	display: block;
	float: left;
	margin: 10px;
	border:0px;
}

.derniers-articles a:hover {
	color: #990000;
	text-decoration: underline;
}

.derniers-articles .en-tete {
	border-bottom:2px solid;
	border-top:2px solid;
	color:green;
	font-size:150%;
	font-weight:bold;
	padding:5px 10px;
}

.derniers-articles .annonce {
	background:#FFFFFF none repeat scroll 0% 0%;
	border-color:darkGreen;
	border-style:solid;
	border-width:0pt 0pt 2px 10px;
	margin:10px;
	padding:0px 0px 10px;
}

.derniers-articles .surtitre {
	//color: #6262A4;	
	color: darkGreen;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	padding-top: 5px;
}

.derniers-articles a.titre {
	display: block;
	//color: #6262A4;
	color: darkGreen;
	font-size: 130%;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
	padding-top: 5px;
}

.derniers-articles a.titre:hover {
	//color: #6262A4;
	color: darkGreen;	
	font-size: 130%;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	text-decoration: underline;
}

.derniers-articles .soustitre {
	//color: #6262A4;
	color: darkGreen;	
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	padding-top: 5px;
}

.derniers-articles .detail {
	//color: #6262A4;
	color: darkGreen;	
	font-size: 85%; /*Sarka-SPIP 1.8.2*/
	font-weight: bold;
	text-align: center;
	margin: 0px 0px 10px 0px; /*Sarka-SPIP 1.8.2*/
	padding: 1px 5px 1px 5px;
	border-left: 1px solid #6262A4;
	border-bottom: 1px solid #6262A4;
	width: 200px;
	float: right;
}

.derniers-articles .chemin {
	color: #990000;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
}

.derniers-articles .introduction {
	color: #000000;
	margin: 10px 10px 0px 10px;
}

.derniers-articles a.suite {
	text-align: right;
	display: block;
}

/* ~~~~~~~~~~~~ article (affichage presque semblable à "derniers articles" ~~~~~~~~~~~~ */

/* contenu de l'article "proprement dit" */

.contenu .article {
	background: black;
	margin: 0px 30px 20px 30px; /*Sarka-SPIP 1.8.2*/
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 12px;
	padding: 10px 10px 10px 10px; /*Sarka-SPIP 1.8.2*/
}

.article a {
	color: #990000;
	text-decoration: none;
}

.article a:hover {
	color: #990000;
	text-decoration: underline;
}

.article .image .spip_logos {
	display: block;
	float: left;
	margin: 10px;
	border:0px;
}

.article .surtitre {
	color: #FFFFFF;
	font-size: 120%;
	font-weight: bold;
	margin: 0px; /*Sarka-SPIP 1.8.2*/
}

.article .titre {
	background:darkgreen none repeat scroll 0% 0%;
	border-bottom:1px solid lime;
	border-top:1px solid lime;
	color:#FFFFFF;
	font-size:180%;
	font-weight:bold;
	margin:0px;
	padding:3px 20px;
}

.article .soustitre {
	color: lightgreen;
	font-size: 130%;
	font-style:italic;
	font-weight: bold;
	margin: 10px;
}

* html .article .surtitre, * html .article .titre, * html .article .soustitre 
	{height : 1px;}  /* Hack IE6 : sur-titre, titre, sous-titre de l'article invisible */

*+html .article .surtitre, *+html .article .titre, *+html .article .soustitre 
	{height : 1px;}  /* Hack IE7 : sur-titre, titre, sous-titre de l'article invisible */


.article .contenu {
	background:#FFFFFF none repeat scroll 0% 0%;
	border-left:10px solid darkgreen;
	border-bottom:2px solid darkgreen;
	margin:10px 0px 0px;
	padding:0px 10px 10px;
}


.article .detail {
	color: #6262A4;
	font-size: 85%; /*Sarka-SPIP 1.8.2*/
	font-weight: bold;
	text-align: center;
	margin: 0px 0px 10px 0px;
	padding: 1px 5px 1px 5px;
	border-left: 1px solid #6262A4;
	border-bottom: 1px solid #6262A4;
	width: 200px;
	float: right;
}

.article .texte {
	background:#FFFFFF none repeat scroll 0% 0%;
	color: #000000;
	margin: 0px 5px 0px 5px;
}

.article .chapo {
	color: #6262A4;
	margin: 10px 10px 0px 10px;
	font-weight: bold;
}

.article .post-scriptum {
	color: #000000;
	margin: 10px 0px 10px 0px;
	padding-top: 10px;
	font-size: 100%;
	border-top: 2px solid #6262A4;
}

.article .post-scriptum .annonce {
	font-weight: bold;
	color:#6262A4;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

.article .notes {
	color: #000000;
	margin: 10px 0px 10px 0px;
	padding: 0px 10px 0px 10px;
	border-top: 2px solid #6262A4;
	font-size: 90%;
}

.article .en-tete {
	color: #FFFFFF;
	font-size: 130%;
	font-weight: bold;
	margin: 10px 0px 10px 0px; /*Sarka-SPIP 1.8.2*/
}

.article h3 {
	color: #6262A4;
	font-weight: bold;
	font-size: 140%;
	margin: 1.5em 0em 0.5em 0em;
}

.article table {
	text-align: center;
	font-size: 90%;	
	border: darkGreen solid 1px;
	border-color: darkGreen;
}

.article tr.row_first {
	background: darkGreen;
	color: #FFFFFF;
	text-align: center;
	font-size: 100%;
}

.article tr.row_odd {
	background: #E0FFE0;
	color: #000000;
}

.article tr.row_even {
	background: #EEFFEE;
	color: #000000;
}

.article td {
	border: 0px;
	padding: 1px 5px 1px 5px;
}

.article a.imprimer {
	display: block;
	background-image: url(../images/printer.gif);
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	float: right;
	margin: 5px 10px; 
}

.article a.creer_pdf {
	display: block;
	background-image: url(../images/_pdf.gif);
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	float: right;
	margin: 4px 0px; 
}

/* mise en forme du formulaire de petition */
/* modification julien pour ajouter un fond blanc */
.petition {
	border: 2px solid darkGreen;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 0px 30px 20px 30px; /*Sarka-SPIP 1.8.2*/
}

.petition .en-tete {
	color: #6262A4;
	font-size: 150%;
	margin: 0px 0px 5px 0px;
}

/* mise en forme de l'affichage des signataires de la petition */

.signatures {
	border: 2px solid darkGreen;
	padding: 10px;
	margin: 10px 30px 10px 30px; /*Sarka-SPIP 1.8.2*/
	background: #EEEEEE;
	font-size: 100%;
}

.signatures .en-tete{
	color: #6262A4;
	font-size: 150%;
	margin: 0px 0px 5px 0px;
}

.signatures td {
	border: 1px solid darkGreen;
	margin: 0px;
	padding: 2px 5px 2px 5px;
	empty-cells: hide;
	font-size: 12px;
}

.signatures thead {
	background: #6262A4;
	font-weight: bold;
	color: #FFFFFF;
}

.signatures a {
	color: #990000;
	text-decoration: none;
}

.signatures a:hover {
	color: #990000;
	text-decoration: underline;
}

/* ~~~~~~~~~~~~ dans la meme rubrique ~~~~~~~~~~~~ */

.articles-freres {
	padding: 10px;
	margin: 20px 30px 10px 30px; 	/*Sarka-SPIP 1.8.2*/
}

.articles-freres ol {
	color: lightGreen;
}

.articles-freres .en-tete {
	border-bottom:2px solid;
	border-top:2px solid;
	color:green;
	font-size:150%;
	font-weight:bold;
	margin:30px 0pt;
	padding:2px 10px;
}

.articles-freres .frere a {
	/* lien vers les articles frères sauf l'article en cours */
	color: lightGreen;
	text-decoration: none;
	font-weight: bold;
}

.articles-freres .frere a:hover {
	color: #6262A4;
	text-decoration: underline;
}

.articles-freres .frere .date {
	color: #990000;
}

.articles-freres .en-cours {
	/* affichage du titre de l'article en cours (sans lien) */
	color: #808080;
}

/* ~~~~~~~~~~~~ forum ~~~~~~~~~~~~ */

.annonce-forum {
	border-bottom:2px solid;
	border-top:2px solid;
	color:green;
	font-size:150%;
	font-weight:bold;
	margin:30px 0pt;
	padding:2px 10px;
}

.forum {
	border: none;
	padding: 0px;
	margin: 0px;
	font-size: 100%;
	margin: 0px 30px 0px 30px; /*Sarka-SPIP 1.8.2*/
}

a.repondre {
	background: #990000;
	color: #FFFFFF !important;
	text-decoration:none !important;
	border: #990000 solid 1px;
	text-align:center;
	padding: 1px 5px 1px 5px;
	margin-left : 5px;
	float: right;
}

a.repondre:hover {
	background:#FFFFFF !important;
	color:#990000 !important;
	text-decoration:none !important;
}


.forum .en-tete {
	color: #6262A4;
	font-size: 150%;
	margin: 0px 0px 5px 0px;
}


.forum .visualisation {
	background: #003000 none repeat scroll 0% 0%;
	border:1px solid green;
	color:lightGreen;
	margin:10px 0px 0px;
}

.forum .visualisation a {
	color: #990000;
	text-decoration: none;
}

.forum .visualisation a:hover {
	color: #990000;
	text-decoration: underline;
}

.forum .visualisation .titre {
	background: darkGreen none repeat scroll 0% 0%;
	//border-bottom:1px solid lime;
	//border-top:1px solid lime;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: lightGreen;
	margin: 0px;
	padding: 4px 10px ;
	margin: 0px;
}

.forum .visualisation .detail {
	border:1px solid green;
	color:green;
	float:right;
	font-size:90%;
	padding:1px 10px;
	margin-left:10px ;
	text-align:right;
	width:200px;
}

.forum .visualisation .texte {
	padding: 0 15px 5px;
	text-align : justify ;
}

.forum a.article-forum {
	text-decoration: none;
	font-size: 110%;
	color: #990000;
	font-weight: bold;
}

.forum a.article-forum:hover {
	text-decoration: underline;
}

.forum ul {
	font-size : 80%;
}

.forum_fils{
	margin-left : 40px;
	border-left:1px dashed darkgreen;
}

/* ~~~~~~~~~~~~ pagination des messages de forum ~~~~~~~~~~~~ */

.bande-pagination {
		margin: 0px 30px 30px 30px;
		text-align: center;
		text-decoration:none;
		font-size: 12px;}

.bande-pagination span.on {
	display:inline;
	background:#F0F0FA;
	color:#6262A4;
	padding:2px 10px;
	margin:10px 2px 10px 2px;
}
		
.bande-pagination a {
	display:inline;
	background:darkRed;
	color:#F0F0FA;
	padding:2px 10px;
	margin:10px 2px 10px 2px;
}
.bande-pagination a:hover {
	background:#F0F0FA;
	color:#6262A4;
}

/* ~~~~~~~~~~~~ plan du site et sites references ~~~~~~~~~~~~ */

.plan {
	font-size: 24px;
	margin: 0px 30px 0px 30px; /*Sarka-SPIP 1.8.2*/
}

.plan .intitule {
	color: white;
	font-size: 100%;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
}

.plan a.annee {
	display:block;
	color: #990000;
	font-weight:bold;
	padding-left:15px;
	margin: 0.5em 0px 0px 0px;
}

.plan a.annee:hover {
	background-image:url(../images/puce0.jpg);
	background-position: left center;
	background-repeat: no-repeat;
}

.plan a.rubrique {
	display:block;
	color: #990000;
	font-weight:bold;
	padding-left:15px;
	margin: 0.5em 0px 0px 0px;
}

.plan a.rubrique:hover {
	background-image:url(../images/puce0.jpg);
	background-position: left center;
	background-repeat: no-repeat;
}

.plan a.article {
	color: #6262A4;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	font-size: 11px;
}

.plan a.article:hover {
	background-image:url(../images/puce-n0.gif);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: underline;
}

.plan a.breve {
	color: #808080;
	padding: 0px 0px 0px 10px;
	font-size: 11px;
}

.plan a.breve:hover {
	background-image:url(../images/puce-n0.gif);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: underline;
}

.plan .date {
	color: #990000;
}

.plan ul {
	list-style-type: none;
	padding: 0px 0px 0px 20px; /*Sarka-SPIP 1.8.2*/
	margin: 0px;
	border: 0px;
}

.plan li {
	font-size: 80%;
	padding:0px;
	margin:0px;
	border: 0px;
}

.plan hr {
	margin: 10px 20px 10px 20px;
	border: 1px solid #990000;
}

.plan a.article-syndic {
	display: block;
	color: #000000;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
}

.plan a.article-syndic:hover {
	background-image:url(../images/puce-n0.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.plan .date-syndic {
	color: #990000;
	font-weight: bold;
}

.plan .a-propos {
	display: block;
	border: 0px;
	background: #FFFFFF;
	color: #909090;
	font-size: 11px;
	padding: 3px 30px 5px 40px;
}

.plan .a-propos .site-pere {
	font-weight: bold;
}

.plan .a-propos .auteur-pere {
	font-weight: bold;
}

/* ~~~~~~~~~~~~ auteur ~~~~~~~~~~~~ */

.auteur {
	background:whitesmoke none repeat scroll 0% 0%;
	font-size:12px;
	margin:0px 30px;
	padding:10px;
}

/* Style de l'intitule de chaque page */
.auteur .intitule {
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 0px 20px 0px; 
}

.auteur div {
	text-align: left !important;
}

.auteur .image .spip_logos {
	display: block;
	float: right;
	margin: 10px;
	border:0px;
}

.auteur .nom {
	color: #6262A4;
	font-size: 150%;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

.auteur .tchak {
	color: #000000;
	font-size: 130%;
	font-weight: bold;
	margin: 30px 0px 10px 0px;
	padding: 0px;
}

.auteur .spip_encadrer {
	border: 1px solid #6262A4;
	color: #6262A4;
	font-size: 100%;
	margin: 5px 0px 10px 0px;
	padding: 5px;
}

.auteur a {
	color: #990000;
	text-decoration: none;
}

.auteur a:hover {
	text-decoration: underline;
}

/* ~~~~~~~~~~~~ recherche ~~~~~~~~~~~~ */

.recherche {
	margin: 0px 30px 20px 30px;  /*Sarka-SPIP 1.8.2*/
}

.recherche .intitule {
	background:darkgreen none repeat scroll 0% 0%;
	border-bottom:1px solid lime;
	border-top:1px solid lime;
	color:#FFFFFF;
	font-size:180%;
	font-weight:bold;
	margin:0px;
	padding:3px 20px;
}

.recherche .elements-trouves {
	color: #990000;
	font-size: 150%;
	font-weight: bold;
	margin: 10px 0px 15px 0px;
	padding: 0px;
	text-decoration: underline;
}

.recherche .mot-cle {
	color: #6262A4;
	font-size: 130%;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	text-decoration: underline;
}

.recherche .derniers-articles {
	margin: 0px; /* Sarka-SPIP 1.8.2 */
}

.indentation {
	padding-left: 40px;
}

.redimensionnement {
	font-size: 11px; /* Sarka-SPIP 1.8.2 */
}



/* ====================== Formatage des elements de la colonne de droite ====================== */

/* ~~~~~~~~~~~~ Mini-agenda ~~~~~~~~~~~~ */

.agenda {
	margin: 0px 0px 0px 0px;
	font-size: 100%;
	color: #808080;
}

.agenda .en-tete {
	display: block;
	background-color: #808080;
	font-weight: bold;
	font-size: 200%;
	color: #FFFFFF;
	text-align: center;
	border: 1px solid #808080;
}

.agenda a.en-tete {
	display: block;
	background-color: #808080;
	font-weight: bold;
	font-size: 200%;
	color: #FFFFFF;
	text-align: center;
	border: 1px solid #808080;
}

.agenda a.en-tete:hover {
	background-color: #EEEEEE;
	color: #808080;
	border: 1px solid #808080;
}
.agenda .contenu {
	border: 1px solid #808080;
	margin: 10px 0px 10px 0px;
	padding: 0px;
	font-size: 100%;
	/*width:150px;*/
}
.agenda .contenu .mois {
	border-bottom:1px solid #808080;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 100%;
	/*width:150px;*/
	text-align:center;	
  background: #EEEEEE;
}

.agenda .contenu .mois a{
    //color: #6262A4;
    color: darkGreen;
	font-weight: bold;
    text-decoration: none ;
	font-size: 100%;
}
.agenda .contenu .mois a:hover{
    text-decoration: underline;
    //color: #6262A4;
    color: darkGreen;
}

.tableau {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#AAAAAA;
	text-align:center;
	font-style:normal;
}

.calendar_this_day {  /* surligne le jour d'aujourd'hui */
    background: #990000;
	font-weight:bold;
	color :#FFFFFF;
}

.calendar_this_month {  /* couleur des cases appartenant au mois en cours */
	background-color: #FFFFFF;
}

.calendar_not_this_month {  /* couleur des cases n'appartenant pas au mois en cours => debut et fin de mois */
	background: #EEEEEE;
	color:#AAAAAA;
}

.calendar_head_mini {    /* corespond à la ligne des jours : lu ma me je ve sa di*/
	// background-color: #6262A4;
	background-color: darkGreen;
	text-align: center;
	font-size: 10px;
	color: #EEEEEE;
	font-family: Verdana, Arial, Helvatica, sans-serif;	
	font-style:normal;
}


/* ~~~~~~~~~~~~ agenda annuel ~~~~~~~~~~~~ */

.agenda_annuel {
	font-size: 24px;
	margin: 0px 30px 0px 30px; /*Sarka-SPIP 1.8.2*/
}

.agenda_annuel .intitule {
	background:darkgreen none repeat scroll 0% 0%;
	border-bottom:1px solid lime;
	border-top:1px solid lime;
	color:#FFFFFF;	
	font-size: 100%;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	padding:3px 20px;
}

.agenda_annuel a.mois {
	display:block;
	color: #990000;
	font-weight:bold;
	padding-left:15px;
	margin: 0.5em 0px 0px 0px;
}

.agenda_annuel a.mois:first-letter {
	text-transform: uppercase;
}

.agenda_annuel a.mois:hover {
	background-image:url(../images/puce0.jpg);
	background-position: left center;
	background-repeat: no-repeat;
}

.agenda_annuel a.evenement {
	//color: #6262A4;
	color: darkGreen;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	font-size: 11px;
}

.agenda_annuel a.evenement:hover {
	background-image:url(../images/puce-n0.gif);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: underline;
}

.agenda_annuel .date {
	color: #990000;
}

.agenda_annuel ul {
	list-style-type: none;
	padding: 0px 0px 0px 20px; /*Sarka-SPIP 1.8.2*/
	margin: 0px;
	border: 0px;
}

.agenda_annuel li {
	font-size: 80%;
	padding:0px;
	margin:0px;
	border: 0px;
}

/* ~~~~~~~~~~~~ galerie/albums ~~~~~~~~~~~~ */

.galerie {
	font-size: 24px;
	margin: 0px 30px 0px 30px; /*Sarka-SPIP 1.8.2*/
}

.galerie .intitule {
	color: #808080;
	font-size: 100%;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
}

.galerie .album {
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px 0px 10px 0px;
	border-top: 2px solid #6262A4;
}

.galerie .album  .vignette {
	display: block;
	float: left;
	width: 220px;
}

.galerie .album  .vignette .spip_logos {
	padding: 10px;
	display: block;
	background: #EEEEEE;
	border-left: 2px solid #6262A4;
	border-right: 2px solid #6262A4;
	border-bottom: 2px solid #6262A4;
}

.galerie .album  .detail {
	//color: #6262A4;
	color: darkGreen;
	font-size: 85%; /*Sarka-SPIP 1.8.2*/
	font-weight: bold;
	text-align: center;
	margin: 0px 0px 10px 0px; /*Sarka-SPIP 1.8.2*/
	padding: 1px 5px 1px 5px;
	border-left: 1px solid #6262A4;
	border-right: 1px solid #6262A4;
	border-bottom: 1px solid #6262A4;
	width: 200px;
	float: right;
}

.galerie .album  .detail a {
	color: #990000;
}

.galerie .album  .detail a:hover {
	text-decoration: underline;
}

.galerie .album   a.titre {
	display: block;
	//color: #6262A4;
	color: darkGreen;
	font-size: 130%;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
	padding-top: 5px;
}

.galerie .album   a.titre:hover {
	//color: #6262A4;
	color: darkGreen;
	font-size: 130%;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	text-decoration: underline;
}

.galerie .album .texte {
	display: block;
	float: left;
	margin: 10px;
}

.galerie .album .introduction {
	color: #000000;
	margin: 10px 10px 0px 10px;
}

.galerie .album a.suite {
	color: #990000;
	text-align: right;
	display: block;
	padding-right : 25px;
}

.galerie .album a.suite:hover {
	text-decoration: underline;
	
}


.listing_annuel a.mois {
	display:block;
	color: #990000;
	font-weight:bold;
	padding-left:15px;
	margin: 0.5em 0px 0px 0px;
}

.listing_annuel a.mois:first-letter {
	text-transform: uppercase;
}

.listing_annuel a.mois:hover {
	background-image:url(../images/puce0.jpg);
	background-position: left center;
	background-repeat: no-repeat;
}

.listing_annuel a.article {
	//color: #6262A4;
	color: darkGreen;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	font-size: 11px;
}

.listing_annuel a.article:hover {
	background-image:url(../images/puce-n0.gif);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: underline;
}

.listing_annuel .date {
	color: #990000;
}

.listing_annuel ul {
	list-style-type: none;
	padding: 0px 0px 0px 20px; /*Sarka-SPIP 1.8.2*/
	margin: 0px;
	border: 0px;
}

.listing_annuel li {
	font-size: 80%;
	padding:0px;
	margin:0px;
	border: 0px;
}


/* ~~~~~~~~~~~~ album ~~~~~~~~~~~~ */

.album_menu a:hover {
	text-decoration: none !important;
}

.album_menu {
   margin-top:25px;
   padding-top:10px;
   padding-bottom:10px;
   border-top:2px #6262A4 solid;
   width:100%;
	//color: #6262A4;
	color: darkGreen;
	font-family: Courier, monospace;
}


.album_boutons {
	//border: 1px #6262A4 solid;
	border: 1px darkGreen solid;
	background-color: #FFFFFF;
	min-width: 150px; !important
	min-width: 100px;
	margin: 5px 30% 5px 30%;
	padding: 2px;
	font-weight: bold;
	color: #6262A4;
	_height: 20px;      /*hack pour ie : pour espacement entre boutons et bordure du bloc de navigation*/
}



.album_menu a.fleche-rew {
	display: block;
	background-image: URL(../images/_prem.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 2px;
}

/*cadre vise aux mêmes dimensions que cadre contenant les boutons, pour garder la numerotation centree*/
.album_menu a.fleche-rew:hover {
	background-image: URL(../images/_premon.gif);
}

.album_menu a.fleche-previous {
	display: block;
	background-image: URL(../images/_prec.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: left;
}

/*cadre vise aux mêmes dimensions que cadre contenant les boutons, pour garder la numerotation centree*/
.album_menu a.fleche-previous:hover {
	background-image: URL(../images/_precon.gif);
}

.album_menu .fleche-previous-vide {
	width: 16px;
	height: 16px;
	float: left;
}

.album_menu .fleche-gauche-vide {
	width: 32px;
	height: 16px;
	float: left;
}

.album_menu a.fleche-next {
	display: block;
	background-image: URL(../images/_suiv.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	_margin-left: 2px; /*hack pour ie : permet de creer une bordure uniforme autour des boutons*/
}

.album_menu a.fleche-next:hover {
	background-image: URL(../images/_suivon.gif);
}

.album_menu a.fleche-fwd {
	display: block;
	background-image: URL(../images/_fin.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	margin-left: 2px; 
}

.album_menu a.fleche-fwd:hover {
	background-image: URL(../images/_finon.gif);
}

.album_menu .fleche-droite-vide {
	width: 34px;
	height: 16px;
	float: right;
}

.album_menu .entre-fleches {
	display: inline;
}


.album_vignette {
	/*float:left; */
	width: 100%;
	text-align: center;

}

.album_vignette a:hover {
	text-decoration: none !important;
}

/*hack pour ie : permet de creer le fond bleu des vignettes et l'espacement entre elles*/

.album_vignette a.image-vignette {
	_background-color: #E0E0E0;
	_padding: 0px;
	_margin: 5px;
	_height: 100px;
}

/*style valable pour ff, equivalent au style precedent pour ie*/

.album_vignette IMG {
	/*padding: 5px;*/
	/*margin: 5px;
	background-color: #E0E0E0; */
}

.album_vignette table{
	text-align: center;
	margin : auto;
}

.album_vignette TD{
	background-color: #E0E0E0; 
	height : 130px ;
	width : 130px;
	padding : 5px;
	margin :0px;
}

.album_photo {
   border-top:2px #6262A4 solid;
   width:100%;
   margin:10px 0px 10px 0px;
   text-align:center;
   padding-top:20px;
}

.album_photo .album_titre {
	text-align: center;
	padding: 0px;
	margin: 10px;
	color: #6262A4;
	font-size: 150%;
	font-weight: bold;
}

.album_photo .album_descriptif {
	text-align: left;
	padding: 10px;
	border: 1px solid #6262A4;
	background-color: #E0E0E0;
	margin: 10px 20px 10px 20px;
	color: #6262A4;
}

/* ~~~~~~~~~~~~ sites syndiques ~~~~~~~~~~~~ */

.web {
	margin: 0px;
	font-size: 10px;
	padding: 0px 0px 5px 0px;
	font-size: 100%;
}

.web a.en-tete {
	display: block;
	background-color: #808080;
	font-weight: bold;
	font-size: 200%;
	color: #FFFFFF;
	text-align: center;
	border: 1px solid #808080;
}

.web a.en-tete:hover {
	background-color: #EEEEEE;
	color: #808080;
	border: 1px solid #808080;
}

.web a.article-synd {
	display: block;
	color: #808080;
	text-decoration: none;
	background-image:url(../images/puce-n0.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 0px 0px 5px 10px;
	margin: 0px 5px 0px 5px;
}

.droite .web a.article-synd:hover {
	color: #808080;
	text-decoration: underline;
}

.centre .web a.article-synd:hover {
	color: #808080;
	text-decoration: none;
	background-image:url(../images/puce-n0.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.web .site {
	border: 1px solid #808080;
	margin: 10px 0px 10px 0px;
	padding: 0px;
	font-size: 100%;
	background : whiteSmoke ;
}

.web .site .descriptif {
	border: 1px solid #808080;
	background-color: #EEEEEE;
	margin: 5px 10px 10px 10px;
	padding: 5px;
}


.web .site a.nom-site {
	display: block;
	border-bottom: 1px solid #808080;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #808080;
	margin: 0px;
	padding: 1px;
	background: #EEEEEE;
	margin-bottom: 10px;
}

.web .site a.nom-site:hover {
	color: #FFFFFF;
	background: #808080;
}


/* ~~~~~~~~~~~~ brèves ~~~~~~~~~~~~ */

.breves {
	margin: 0px 0px 0px 0px;
	font-size: 100%;
	color: #808080;
}

.breves a.en-tete {
	display: block;
	background-color: #808080;
	font-weight: bold;
	font-size: 200%;
	color: #FFFFFF;
	text-align: center;
	border: 1px solid #808080;
}

.breves a.en-tete:hover {
	background-color: #EEEEEE;
	color: #808080;
	border: 1px solid #808080;
}

.breves .contenu .titre {
	border-bottom: 1px solid #808080;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	color: #808080;
	margin: 0px;
	padding: 1px;
	background: #EEEEEE;
}

.breves .contenu {
	border: 1px solid #808080;
	margin: 10px 0px 10px 0px;
	padding: 0px;
	font-size: 100%;
	background : whiteSmoke ;
}

.breves .contenu a.nom-breve {
	display: block;
	border-bottom: 1px solid #808080;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	color: #808080;
	margin: 0px;
	padding: 1px;
	background: #EEEEEE;
}

.breves .contenu a.nom-breve:hover {
	color: #FFFFFF;
	background: #808080;
	text-decoration: none;
}

.breves .contenu .date {
	border-bottom: 1px solid #808080;
	border-left: 1px solid #808080;
	font-size: 90%;
	text-align: center;
	color: #808080;
	margin-left: 40%;
	padding: 1px;
	background: #EEEEEE;
	text-align: center;
}

.breves .contenu .texte {
	margin: 0px;
	padding: 5px;
	font-size: 100%;
	line-height: 110%;
}

.breves .contenu .texte h3 {
	margin:0.3em 0em 0.3em 0em;
	padding:0px;
	font-size: 120%;
	line-height: 110%;
}

.breves .contenu .texte p {
	margin:0.7em 0em 0.7em 0em;
	padding:0px;
}

.breves .contenu .texte strong {
	color: #000000;
}

.breves .contenu  a {
	color:#990000;
}

.breves .contenu a:hover {
	text-decoration: underline;
}

.breves .contenu blockquote {
	margin : 2px;
}

.breves .contenu .notes {
	margin: 0px;
	padding: 5px;
	font-size: 100%;
	line-height: 110%;
	border-top: 1px solid #808080;
}

/* !!!!!!!!!!! Sarka-SPIP 1.1.1 !!!!!!!!!!!! */
/* ~~~~~~~~~~~~ mots-cles ~~~~~~~~~~~~ */

.droite .mots-cles {
        margin: 0px 0px 0px 0px;
        font-size: 100%;
        color: #808080;
}

.droite .mots-cles hr {
	border: 0px;
	height: 1px;
	color: #669999;
	background-color: #669999;
	margin-left: 0px;
	margin-right: 0px;
}

.droite .mots-cles a.en-tete {
        display: block;
        background-color: #669999;
        font-weight: bold;
        font-size: 200%;
        color: #FFFFFF;
        text-align: center;
        border: 1px solid #669999;
}

.droite .mots-cles a.en-tete:hover {
        background-color: #FFFFFF;
        color: #669999;
        border: 1px solid #669999;
}

.droite .mots-cles .contenu {
        border: 1px solid #669999;
        margin: 10px 0px 20px 0px;
        padding: 0px;
        font-size: 100%;
}

.droite .mots-cles .contenu a {
        display: block;
        color: #669999;
        padding: 0px 5px 3px 5px;
        font-size: 110%;
        text-decoration: none;
}

.droite .mots-cles .contenu a:hover {
        text-decoration: underline;
}

.droite .mots-cles .contenu span {
        display: block;
        color: #990000;
        padding: 0px 5px 3px 5px;
        font-size: 110%;
        text-decoration: none;
}

.droite .mots-cles .contenu .nom-groupe {
        display: block;
        padding: 2px 5px 0px 5px;
        font-size: 110%;
        text-decoration: none;
        font-weight: bold;
}

.droite .mots-cles .contenu a.type {
        display: block;
        border-bottom: 1px solid #669999;
        font-size: 130%;
        font-weight: bold;
        text-align: center;
        color: #669999;
        margin: 0px;
        padding: 1px;
        background: #FFFFFF;
        margin-bottom: 10px;
        text-decoration:none;
}

.droite .mots-cles .contenu a.type:hover {
        color: #FFFFFF;
        background: #669999;
}

.spip_surligne { background: #FFFF66; }

/* Puces generees par un tiret seul en debut de ligne */
/* Ces puces ne sont pas incluses dans une balise <ul> et le code obtenu est <li class="spip"> */

li.spip {
	list-style-image:URL(../images/puce-n0.gif);
	list-style-position: outside;
	padding: 0;
	margin: 5px 0 0 20px;
}

/* Puces generees par un tiret suivant d'un ou plusieurs asterisques (ex: -* blabla...) */
/* Ces puces sont incluses dans une balise <ul class="spip"> et le code de chaque item est <li class="spip"> */

ul.spip  {
	padding: 0;
	margin: 5px 0 0 20px;
}

ul.spip li.spip {
	list-style-image: URL(../images/puce-n1.gif);
	padding: 0px;
	margin: 5px 0 0 0;
}

ul.spip ul.spip li.spip {
	list-style-image:URL(../images/puce-n2.gif);
}

img {
	border: 0px;
}

/* Puces generees par un tiret suivant d'un ou plusieurs diez (ex: -# blabla...) */
/* Ces puces sont incluses dans une balise <ol class="spip"> et le code de chaque item est <li class="spip"> */

ol.spip  {
	padding: 0;
	margin: 5px 0 0 20px;
}

ol.spip li.spip {
	list-style-type: decimal;
	list-style-image: none;
	list-style-position: outside;
	padding: 0px;
	margin: 5px 0 0 0;
}

ol.spip ol.spip li.spip {
	list-style-type: lower-alpha;
}

ol.spip ol.spip ol.spip li.spip {
	list-style-type: lower-roman;
}

/* !!!!!!!!!!! Sarka-SPIP 1.9.1 !!!!!!!!!!!! */

/*---style des documents---*/

.spip_documents_left {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
}

.spip_documents_center {
	display: block;
	clear: both;
	width: 100%;
	text-align: center;
	margin: 0 0px 10px 0px
}

.spip_documents_right {
	display: block;
	float: right;
	margin: 0 0 10px 10px;
}

div.spip_documents_no-float {
	clear: both;
	margin: 0 0 10px 0;
}

div.spip_documents_left .spip_documents, div.spip_documents_center .spip_documents, div.spip_documents_right .spip_documents {
	text-align: center;
	font-size: 90%;
	border: 1px solid #6262A4;
	background: #F0F0FA;
	padding: 5px 0 5px 0;
	margin: auto;
}

div.spip_documents_no-float .spip_documents {
	text-align: center;
	font-size: 90%;
	border: 1px solid #6262A4;
	background: #F0F0FA;
	padding: 5px 0 5px 0;
}

.spip_doc_titre {
	clear: both;
	font-weight: bold;
	font-size: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 0px 5px 0px;
	text-indent: 0;
}

.spip_doc_descriptif {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	font-size: 90%;
	color: #808080;
}

.droite .spip_documents {
	width: 130px !important;
}

.droite .spip_doc_titre {
	width: 120px !important;
}

.droite .spip_doc_descriptif {
	width: 120px !important;
}

.clearer {
	clear: both;
	display: block;
	height: 0px;
}
.clearer-right {
	clear: right;
	display: block;
	height: 0px;
}

.reponse_formulaire { 
	font-size: 12px; 
	font-weight: bold; 
	color: red;
}

/* styles maison */

table.mosaic {
	width: 100%;
	border: 0;
}

.article .texte .spip_out {
	color: darkGreen;
}

.article .texte .spip_out:hover {
	color: darkRed;
}

.article .texte .spip_in:hover {
	color: red;
}

.rubrique .texte .spip_out {
	color: darkGreen;
}

.rubrique .texte .spip_out:hover {
	color: darkRed;
}

.rubrique .texte .spip_in:hover {
	color: red;
}

.spip_out {
	background: url(../images/icon.gif) no-repeat 100% 0;
    padding: 0 20px 0 0;
}

.spip_out:hover {
	background: url(../images/icon.gif) no-repeat 100% -200px;
    padding: 0 20px 0 0;
}