<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.xqz.engine.cmdHandler">
      <cmdHandler
            ID="net.sf.smbt.osc.kinematics.eventHandler"
            handler="net.sf.smbt.osc.ezosckinematics.cmd.KinematicsEventHandler">
      </cmdHandler>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdInterpreter">
      <cmdInterpreter
            ID="net.sf.smbt.osc.kinematics.cmdInterpreter"
            interpreter="net.sf.smbt.osc.ezosckinematics.cmd.KinematicsCmdInterpreter">
      </cmdInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.frameInterpreter">
      <frameInterpreter
            ID="net.sf.smbt.osc.kinematics.frameInterpreter"
            interpreter="net.sf.smbt.osc.ezosckinematics.cmd.KinematicsFrameInterpreter">
      </frameInterpreter>
   </extension>

</plugin>
