<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.sf.smbt.ui"
            class="net.sf.smbt.ui.thingm.ThingMCtrlView"
            fastViewWidthRatio="0.5"
            icon="icons/thingm.png"
            id="net.sf.smbt.ui.blinkm.BlinkMCtrlView"
            name="ThingM"
            restorable="true">
      </view>
   </extension>
   <!--
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sf.smbt.ui.thingm.perspective">
         <view
               closeable="false"
               id="net.sf.smbt.ui.blinkm.BlinkMCtrlView"
               minimized="false"
               moveable="false"
               ratio="0.75"
               relationship="stack"
               relative="net.sf.smbt.ui.view.ez"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="net.sf.smbt.ui.view.ez"
               minimized="true"
               moveable="true"
               ratio="0.25"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="net.sf.smbt.ui.views.EZQTopologyView"
               minimized="true"
               moveable="true"
               ratio="0.8"
               relationship="left"
               relative="net.sf.smbt.ui.view.ez"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
    </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sf.smbt.ui.actionSet"
            label="ThingM Control"
            visible="true">
         <menu
               icon="icons/status/software-update-available.png"
               id="sampleMenu"
               label="BlinkMMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="net.sf.smbt.ui.thingm.actions.LaunchBlinkMRgbControllerAction"
               icon="icons/status/software-update-available.png"
               id="net.sf.smbt.ui.blinkm.actions.LaunchBlinkMRgbControllerAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="ThingM ">
         </action>
      </actionSet>
   </extension>
	-->

   <extension
         point="net.sf.smbt.quantic.targetConfig">
      <target
            addr="/dev/tty.usbserial-A7006022"
            desc="Mac OSX Arduino USB connection sample"
            protocol="thingm"
            speed="57600"
            transport="usb">
      </target>
      <target
            addr="/dev/tty.usbserial-A6007to3"
            desc="Mac OSX Arduino USB connection sample"
            protocol="thingm"
            speed="57600"
            transport="usb">
      </target>
      <target
            addr="/dev/tty.usbserial-A7006022"
            desc="Mac OSX Arduino USB connection sample"
            protocol="thingm"
            speed="19200"
            transport="usb">
      </target>
      <target
            addr="/dev/tty.usbserial-A6007to3"
            desc="Mac OSX Arduino USB connection sample"
            protocol="thingm"
            speed="19200"
            transport="usb">
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/sample.xml">
      </configExtension>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.smbt.ui.thingm.ThingMPerspective"
            fixed="true"
            icon="icons/thingm2.png"
            id="net.sf.smbt.ui.thingm.perspective"
            name="ThingM">
      </perspective>
   </extension>
	-->
</plugin>
