<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.smbt.ui.xbee.modem.XbeeAtModemApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.sf.smbt.ui"
            class="net.sf.smbt.ui.xbee.views.XBeeView"
            icon="icons/xbee-32x32.png"
            id="net.sf.smbt.ui.xbee.view"
            name="XBee"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/sample.xml">
      </configExtension>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.smbt.ui.xbee.views.XBeePerspectiveFactory"
            icon="icons/xbee-32x32.png"
            id="net.sf.smbt.ui.xbee.perspective"
            name="XBee">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sf.smbt.ui.xbee.perspective">
         <view
               closeable="false"
               id="net.sf.smbt.ui.xbee.view"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
  -->
</plugin>
